<!DOCTYPE html>
<head>
    <title></title>
</head>
<body>
    <center>
        <h1>Olimpíada de Raciocínio Lógico</h1>
        <h2>Lançamento</h2>
    </center>
        <div>
          <form action="{% url 'core:lancamento' %}"  method="POST">
              {% csrf_token %}
              <label for="{{ form.problema.id_for_label }}">{{ form.problema.label }}</label>
                   {{ form.problema }}
              <br><br>
              <label for="{{ form.equipe.id_for_label }}">{{ form.equipe.label }}</label>
                   {{ form.equipe }}
              <br><br>
              <label for="{{ form.tempo.id_for_label }}">{{ form.tempo.label }}</label>
                   {{ form.tempo }}
              <br><br>
              <label for="{{ form.status.id_for_label }}">{{ form.status.label }}</label>
                   {{ form.status }}
             <br><br>
             <center>
             <button class="btn btn-primary btn-block" type="submit">Lançamento</button>
           </center>
         </form>
         <br><br>
         <form action="{% url 'core:pre_lancamento' %}"  method="POST">
         {% csrf_token %}
         <center>
             <button class="btn btn-primary btn-block" type="submit">Escolher equipe/problema novamente.</button>
           </center>
         </form>
       </div>


        {% if qs %}
            {% for q in qs %}
                <form method="POST" action="{% url 'core:editar_lancamento' %}">
                    {% csrf_token %}
                    
                    <h3>
                        {{ q.id }} Problema: {{ q.problema }} // Equipe:  {{ q.equipe }} 
                        // Tempo:  {{ q.tempo }}  // Status:  {{ q.status }} 
                        <input type="hidden" name="id_lancamento" value="{{ q.id }}" >
                        <button type="submit">Editar</button>
                    </h3>
                </form>
            {% endfor %}  
        {% else %}
            <h2>Nenhuma submissão desta equipe feita para este problema. </h2>
        {% endif %} 

      <form method="POST" action="{% url 'core:index' %}">
          {% csrf_token %}
          <button type="submit">Principal</button>
      </form>
</body>
</html>
