<!DOCTYPE html>
<head>
    <title>Placar da Maratona: Olimpíada de Raciocínio Lógico</title>
    <meta http-equiv="refresh" content="5" />
</head>
<body>
    <center>
        <h1>Olimpíada de Raciocínio Lógico</h1>
        <h2>Placar</h2>
    </center>

    {% if equipes %}
            <table border="5" bgcolor="gainsboro">
            <tr bgcolor="#ffac00">
                <td>Equipe</td>
                <td>Problema 1</td>
                <td>Problema 2</td>
                <td>Problema 3</td>
                <td>Problema 4</td>
                <td>Problema 5</td>
                <td>Problema 6</td>
                <td>Problema 7</td>
                <td>Problema 8</td>
                <td>Problema 9</td>
                <td>Problema 10</td>
                <td>Total de pontos</td>
            </tr>
            {% for equipe in equipes %}
            <tr>
               <td>
                    <h3>
                        {{ equipe.equipe }} 
                    </h3>
               </td>
               <td>
                    <h3>
                        {{ equipe.problema1 }} 
                    </h3>
               </td>
               <td>
                    <h3>
                        {{ equipe.problema2 }} 
                    </h3>
               </td>
                <td>
                    <h3>
                        {{ equipe.problema3 }} 
                    </h3>
               </td>
                <td>
                    <h3>
                        {{ equipe.problema4 }} 
                    </h3>
               </td>
                <td>
                    <h3>
                        {{ equipe.problema5 }} 
                    </h3>
               </td>
                <td>
                    <h3>
                        {{ equipe.problema6 }} 
                    </h3>
               </td>
                <td>
                    <h3>
                        {{ equipe.problema7 }} 
                    </h3>
               </td>
                <td>
                    <h3>
                        {{ equipe.problema8 }} 
                    </h3>
               </td>
                <td>
                    <h3>
                        {{ equipe.problema9 }} 
                    </h3>
               </td>
                <td>
                    <h3>
                        {{ equipe.problema10 }} 
                    </h3>
               </td>

               <td>
                    <h3>
                        {{ equipe.soma }} 
                    </h3>
               </td>
            </tr>
            {% endfor %}
            </table>  
    {% else %}
            <h3>Nenhuma pontuação registrada. </h3>
    {% endif %} 
    
    <BR><BR>
    <form method="POST" action="{% url 'core:index' %}">
        {% csrf_token %}
        <button type="submit">Principal</button>
    </form>
    <br>

</body>
</html>
